body {
    background-color: #ffffff;
}

img {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    vertical-align: bottom;
}

header {
    text-decoration: none;
    vertical-align: middle;
    font-size: 25px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
a {
    color: #7B7D7D;
    text-decoration: none;
}

a:hover {
    color: #5ce1e6;
    text-decoration: none;
}

button{
    padding: 10px;
    background-color: #5ce1e6;
    color: #ffffff;
    font-size: 15px;
    margin-top: 10px;
    border: none;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#output{
    font-size: 15px;
}
#home{
    font-size: 15px;
}